<nav class="w-full h-[10%] flex items-center justify-between px-20">
    <h1 class="text-xl font-semibold ">Blog Website</h1>
    <style>
        .atags a {
    color: darkblue;
    /* Additional styling */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes text bold */
    /* Add any other styles you want */
}
    </style>
    <div class="atags flex gap-8">
        <a href="/createblog">Create Blog</a>
        <a href="/profile">profile</a>
        <a href="">Contact</a>
        <a href="/">home</a>
    </div>
    <div class="login-singup">
        <a class="bg-blue-500 text-white px-4 py-2 rounded" href="/login">Login</a>
        <a class="bg-blue-500 text-white px-4 py-2 rounded" href="/register">Register</a>
        <!-- <a class="bg-blue-500 text-white px-4 py-2 rounded" href="/register">Register</a -->

    </div>
</nav>